*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.roboto { font-family: 'Roboto', sans-serif; }
.crete { font-family: 'Crete Round', serif; }
.poppins { font-family: 'Poppins', sans-serif; }
.inter { font-family: 'Inter', sans-serif; }

.white { color: #fff; }
.nBlue1 { color: #091e42; }
.grey { color: #f4f5f7; }
.orange { color: #ff6b00; }
.blackish { color: #1c1a19; }
.nBlue2 { color: #172b4d; }
.white1 { color: #fff5e1; }

.bcOrange { background-color: #ff6b00; }
.bcGrey { background-color: #3c3a39; }
.bcGrey1 { background-color: #3e3c3c; }
.bcBlackish { background-color: #1c1a19; }

.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w700 { font-weight: 700; }

.s15 { font-size: 15px; }
.s16 { font-size: 16px; }
.s17 { font-size: 17px; }
.s18 { font-size: 18px; }
.s22 { font-size: 22px; }
.s24 { font-size: 24px; }
.s32 { font-size: 32px; }
.s40 { font-size: 40px; }
.s56 { font-size: 56px; }
.s72 { font-size: 72px; }

.lh20 { line-height: 20px; }
.lh24 { line-height: 24px; }
.lh32 { line-height: 32px; }
.lh43 { line-height: 43px; }
.lh44 { line-height: 44px; }
.lh52 { line-height: 52px; }
.lh64 { line-height: 64px; }
.lh88 { line-height: 88px; }

.ls048 { letter-spacing: 0.03rem; }
.ls037 { letter-spacing: 0.37px; }

#main {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.navigationContent {
  display: flex;
  width: 316px;
  justify-content: space-between;
}

.headline {
  display: flex;
  height: 590px;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  background: #1c1a19 url("img/introBkg.svg") no-repeat;
  background-position: 100% 100%;
}

.headlineContent {
  display: flex;
  flex-direction: column;
  width: 327px;
  gap: 12px;
}

.socialIcons>ul{
    list-style: none;
}

.socialIcons>ul>li{
    display: inline;
}
