*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.roboto { font-family: 'Roboto', sans-serif; }
.crete { font-family: 'Crete Round', serif; }
.poppins { font-family: 'Poppins', sans-serif; }
.inter { font-family: 'Inter', sans-serif; }

.white { color: #fff; }
.nBlue1 { color: #091e42; }
.grey { color: #f4f5f7; }
.orange { color: #ff6b00; }
.blackish { color: #1c1a19; }
.nBlue2 { color: #172b4d; }
.white1 { color: #fff5e1; }

.bcOrange { background-color: #ff6b00; }
.bcGrey { background-color: #3c3a39; }
.bcGrey1 { background-color: #3e3c3c; }
.bcBlackish { background-color: #1c1a19; }

.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w700 { font-weight: 700; }

.s15 { font-size: 15px; }
.s16 { font-size: 16px; }
.s17 { font-size: 17px; }
.s18 { font-size: 18px; }
.s22 { font-size: 22px; }
.s24 { font-size: 24px; }
.s32 { font-size: 32px; }
.s40 { font-size: 40px; }
.s56 { font-size: 56px; }
.s72 { font-size: 72px; }

.lh20 { line-height: 20px; }
.lh24 { line-height: 24px; }
.lh32 { line-height: 32px; }
.lh43 { line-height: 43px; }
.lh44 { line-height: 44px; }
.lh52 { line-height: 52px; }
.lh64 { line-height: 64px; }
.lh88 { line-height: 88px; }

.ls048 { letter-spacing: 0.03rem; }
.ls037 { letter-spacing: 0.37px; }

.width49 { width: 49px; }
.width56 { width: 56px; }
.width95 { width: 95px; }
.width61 { width: 61px; }

#main {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.navigationContent {
  display: flex;
  width: 316px;
  justify-content: space-between;
}

#headline {
  display: flex;
  height: 590px;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  background: #1c1a19 url("img/introBkg.svg") no-repeat;
  background-position: 100% 100%;
}

.headlineContent {
  display: flex;
  flex-direction: column;
  width: 327px;
  gap: 12px;
}

.socialIcons > ul {
  list-style: none;
}

.socialIcons > ul > li {
  display: inline;
}

#works {
  display: flex;
  justify-content: center;
  height: 3455px;
  padding-top: 120px;
}

.worksGrid {
  width: 327px;
  display: grid;
  grid-template-rows: 107px 32px 568px repeat(6, 386px);
  row-gap: 24px;
}

.grid1 { 
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 24px;  
}

.grid1 > h1 { text-align: center; }

.grid2 {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid2 > h1 { padding-top: 12px; }
.grid2 > P { padding-bottom: 12px; }
.grid2 > button { margin-top: 3px; }


.grid3 { grid-row: 4/5; }
.grid4 { grid-row: 5/6; }
.grid5 { grid-row: 6/7; }
.grid6 { grid-row: 7/8; }
.grid7 { grid-row: 8/9; }
.grid8 { grid-row: 9/10; }

.techList {
  text-decoration: none;
  list-style: none;
}

.project1Tag {
  display: inline;
  border: 1px solid #8993A4;
  height: 40px;
  padding: 10PX 12PX;
}

.project1Tag > span {
  text-align: center;
}

.css { width: 49px; }
.html { width: 56px; }
.boot { width: 95px; }
.ruby { width: 61px; }

.project1Button {
  width: 124px;
  height: 48px;
  padding: 12px;
}

.project2 {
  background-image: url("img/projectImg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  gap: 12px;
}

.project2Tag {
  display: inline;
  border: 1px solid #8993A4;
  height: 40px;
  padding: 10PX 12PX;
  background: rgba(255, 255, 255, 0.24);
}

.project2Tag > span {
  text-align: center;
}

.project2Button {
  width: 327px;
  height: 48px;
  padding: 12px 113.5px;
  margin-top: 14px;
}

.p16{
  padding-left: 16px;
  padding-right: 16px;
}

#about {
  height: 1901px;
}